:root{
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --gray: #6B7280;
  --light: #eeeeee;
  --pink: #EC4899;
  --purple: #8B5Cf6;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Fira sans', sans-serif;
}

.mb-5 h1 {
  font-size: 35px;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  color: #FFF;
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

div .border-primary {
  padding: 1rem;
}

div .border-primary h2 {
  font-size: 1.3rem;
  font-weight: 300;
  font-style: normal;
  color: var(--light);
  margin-bottom: 1rem;
}

div .form-control{
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

div .form-control::placeholder {
  color: var(--gray);
  font-size: 20px;
  font-style: oblique;
}

div .btn-success {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

div .btn-success:hover {
  opacity: 0.8;
}

div .btn-success:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
}

div .border-info {
  padding: 1rem;
}


div .card-header h3 {
  padding: 1rem;
  padding-bottom: 0;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

div .card-body {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

div .card-body .row .col-9 {
  color: var(--light);
  font-size: 0.6rem;
  width: 100%;
  display: block;
  transition: 0.4s;
  padding-bottom: 0.7rem;
}

div .card-body .row .text{
  color: var(--light);
  font-size: 1.2rem;
  width: 100%;
  display: block;
}
/* div .card-body .row .col-9 {
padding: 1rem;
} */

/* div .card-body .row .col-9:not(:read-only) {
  color: var(--pink);
} */

div .card-body .col-3 {
  display: flex;
  margin: 0 -0.5rem;
}

div .btn-info {
  color:#6B7280;
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 0.83rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

div .btn-info:hover {
  opacity: 0.8;
}

div .btn-info:active {
  opacity: 0.6;
}

div .btn-warning {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 0.83rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

div .btn-warning {
background-image: linear-gradient(to right, var(--pink),var(--purple));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

div .btn-warning:hover {
opacity: 0.8;
}

div .btn-warning:active {
opacity: 0.6;
}

div .btn-danger {
cursor: pointer;
margin: 0 0.5rem;
font-size: 0.83rem;
font-weight: 700;
text-transform: uppercase;
transition: 0.4s;
}

div .btn-danger {
color: crimson; 
}

div .btn-danger:hover {
opacity: 0.8;
}

div .btn-danger:active {
opacity: 0.6;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}